#leaderboard table {
    width: 100%;
    color: white;
}

#leaderboard table th {
    text-align: left;
    color: lightgray;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: lighter;
    height: 18px;
}

#leaderboard table td {
    height: 30px;
    letter-spacing: 1.2px;
    font-weight: bold;
    /* text-align: center; */
}

#leaderboard table td:first-of-type,
#leaderboard table th:first-of-type {
    text-align: center;
}

#leaderboard table td:last-of-type,
#leaderboard table th:last-of-type {
    text-align: right;
    padding-right: 10px;
}


/* Effects */
#leaderboard table tr {
    transition: background-color 0.1s;
}

#leaderboard table tr:hover:not(:first-of-type) {
    background-color: #5C2C28;
    cursor: pointer;
}